.App {
  text-align: center;
}

h1 {
  
  justify-items: center;
  align-items: center;
  text-align: center;
  color: rgb(11, 114, 59);
  
}

.has-text-centered {
  font-size: 3rem;
}


.main {
  display:flex;
  justify-items: center;
  align-items: center;
  height: 100vh;
  
}
.container {
    margin: 0 auto;
    width: 1280px;
    min-width:1280px;
    display: flex;
    justify-content: center;
    
      
   }

   .notification {
    border: 3px  solid salmon;
    width:600px;
   }

   body {
     background-image: url(./components/booksimage/gettyimages-157482029-612x612.jpg);
     background-blend-mode: normal;
      background-size: 100%; 
      object-fit: cover;
     object-position: center;
      background-repeat: no-repeat;
      background-color: thistle;
   }
section {
  font-size: 50px;
  color: rgb(210, 238, 118);
  text-decoration: underline;
  justify-items: center;
  align-items: center;
  text-align: center;
  -webkit-text-stroke: 1.11px rgba(33, 29, 68, 0.671); /* stroke width and color */
  -webkit-font-smoothing: antialiased;
}



  

  
  

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */





/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
